@model IEnumerable<E_kujna.Models.Obrok>
@{
    ViewBag.Title = "Meni";
}
<h3>Баран оброк</h3>
<p>
    Select from @Model.Count()
    obroks:
</p>
<ul>
    @foreach (var obrok in Model)
    {
        <li>
            @Html.ActionLink(obrok.ImeO,"Browse", new { obrok = obrok.ImeO })
    </li>
    }
</ul>